body{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-hcs5xw2FbvDXrTvVoGbEWStGY2VP9q6YvNqGSd0QizYLZzfZ");
  background-repeat:no-repeat;
  background-size: cover;
}
h1
{
  color: red;
  text-align: center;
}
table{
  margin: auto;
  border: 5px solid red;
  color: red;
  background: yellow;
  font-size: 55;
}

td{
  margin: auto;
  border: 5px solid red;
  color: brown;
  background: white;
  font-size: 55;
}

thead{
  background: green;

  color: white;
}
